# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/out/
/.idea/
/G-16-MATH-CHALLENGE-PROJECT.iml
target/

out/production/g-16/.gitignore
out/production/g-16/.idea/.gitignore
out/production/g-16/.idea/misc.xml
out/production/g-16/.idea/modules.xml
out/production/g-16/.idea/vcs.xml
out/production/g-16/client/Client.class
out/production/g-16/client/ClientInstance.class
out/production/g-16/g-16.iml
out/production/g-16/server/Server.class
out/production/g-16/server/ServerThread.class
/target/


participants.json
results.pdf